<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<div class="login">
  <h1>Predict Body Fat</h1>

  <form action="{{ url_for('predict_datapoint')}}" method="post">
  
 
    <div class="mb-3">
       <label class="form-label">Weight</label>
       <input class="form-control" type="number" name="Weight"
           placeholder="Enter your Weight" min='50' max='300' />
   </div>
   <div class="mb-3">
       <label class="form-label">Neck</label>
       <input class="form-control" type="number" name="Neck"
           placeholder="Enter your Neck" min='25' max='100' />
   </div>
   <div class="mb-3">
    <label class="form-label">Chest</label>
    <input class="form-control" type="number" name="Chest"
        placeholder="Enter your Chest" min='0' max='200' />
  </div>
  <div class="mb-3">
    <label class="form-label">Abdomen</label>
    <input class="form-control" type="number" name="Abdomen"
        placeholder="Enter your Abdomen" min='0' max='200' />
  </div>
  <div class="mb-3">
    <label class="form-label">Hip</label>
    <input class="form-control" type="number" name="Hip"
        placeholder="Enter your Hip" min='0' max='200' />
  </div>
  <div class="mb-3">
    <label class="form-label">Thigh</label>
    <input class="form-control" type="number" name="Thigh"
        placeholder="Enter your Thigh" min='0' max='200' />
  </div>
  <div class="mb-3">
    <label class="form-label">Knee</label>
    <input class="form-control" type="number" name="Knee"
        placeholder="Enter your Knee" min='0' max='200' />
  </div>
  <div class="mb-3">
    <label class="form-label">Biceps</label>
    <input class="form-control" type="number" name="Biceps"
        placeholder="Enter your Biceps" min='0' max='200' />
  </div>
   <div class="mb-3">
       <input class="btn btn-primary" type="submit" value="Predict Body Fat" required />
   </div>
</form>
<h2>
  THE  prediction is {{results}}
</h2>
<body>
</html>
